.btn-primary {
  background-color: rgb(17, 129, 107);
  border-color: rgb(17, 129, 107);
}

.large {
  width: 300px;
  font-size: large;
}
.btn-primary:hover {
  color: rgb(17, 129, 107);
  border-color: rgb(17, 129, 107);
  background-color: white;
}