.compte {
  border: rgb(17, 129, 107) 2px solid;
  border-radius: 5px;
  //border-color: #dee2e6;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 2px 2px 3px 0 rgba(3, 3, 3, 0.3);
}